.image-list-item{
    padding: 5px;
    border-bottom:  1px solid #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .title{
        display: table-cell;
        padding-left:5px; 
        vertical-align: middle;
    }
    .image{
        display: table-cell;
        background-repeat: no-repeat;
    }
}